body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.vr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#vr-canvas {
    display: none; /* Ocultar el canvas inicialmente */
    max-width: 100%;
}
