body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.vr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#vr-canvas {
    display: none;
    max-width: 100%;
}

#video-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#video-preview {
    width: 80%;
    height: auto;
}

#snapshot-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

#download-link {
    margin-top: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
}
